{% extends "layout.html.twig" %}

{% block container_content %}
    <div class="jumbotron">
        <h1>
            Housing Finder project
        </h1>
        <div class="container">
            readme.md
        </div>
    </div>
{% endblock %}