{% extends "layout.html.twig" %}

{% block container_content %}
    {% if housingAd is null %}
        <div class="alert alert-danger" role="alert">
            Aucune nouvelle annonce…
        </div>
        <p>
            <a href="/ads/import" class="btn btn-primary">
                En chercher de nouvelles…
                <i class="glyphicon glyphicon-play"></i>
            </a>
        </p>
    {% else %}
        <div class="row">
            <div class="container well well-sm">
                <div class="col-md-4">
                    <a href="{{ housingAd.identifier.linkToSource }}" class="btn">
                        Trouvé sur {{ housingAd.identifier.sourceName }}
                        <i class="glyphicon glyphicon-share-alt"></i>
                    </a>
                </div>
                <div class="col-md-4 col-md-offset-4 someclass">
                    <a href="/ads/{{ housingAd.identifier }}/status/rejected/to/browse" class="btn btn-danger">
                        Rejeter
                    </a>
                    <a href="/ads/{{ housingAd.identifier }}/pass" class="btn btn-primary">
                        Passer
                    </a>
                    <a href="/ads/{{ housingAd.identifier }}/status/accepted/to/browse" class="btn btn-success">
                        Accepter et continuer
                    </a>
                </div>
            </div>
        </div>
        {%  if potentialDuplicates|length > 0 %}
            <div class="list-group">
                {% for potentialDuplicate in potentialDuplicates %}
                    <div class="row list-group-item">
                        <div class="col-md-6">
                            Duplication ?
                            <a href="/ads/{{ potentialDuplicate['identifier'] }}/show">
                                {% if potentialDuplicate['title'] %}
                                    {{ potentialDuplicate['title']|length > 50 ? potentialDuplicate['title']|slice(0, 50) ~ '…' : potentialDuplicate['title'] }}
                                {% else %}
                                    Appartement {{ potentialDuplicate['numberOfRooms'] }} pièces, {{ potentialDuplicate['surface']|number_format(0, ',', ' ') }}m², {{ potentialDuplicate['price']|number_format(0, ',', ' ') }}€
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-1 text-center">
                            {{ potentialDuplicate['price']|number_format(0, ',', ' ') }}€
                        </div>
                        <div class="col-md-1 text-center">
                            {{ potentialDuplicate['surface']|number_format(0, ',', ' ') }}m²
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: {{ potentialDuplicate['score'] }}%">
                                    {{ potentialDuplicate['score']|number_format(0, '', ' ') }}% de chance
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <a href="/ads/{{ housingAd.identifier }}/duplicate/{{ potentialDuplicate['identifier'] }}" class="btn btn-warning">
                                Confirmer
                                <i class="glyphicon glyphicon-copy"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% include "templates/housing_ad.html.twig" %}
    {% endif %}
{% endblock %}