{% extends "layout.html.twig" %}

{% block container_content %}
    {% if error != '' %}
        <div class="alert alert-danger">
            {% if error == 'invalid-source' %}
                Impossible de trouver la source pour enregistrer l'annonce.
            {% else %}
                Erreur inconnue.
            {% endif %}
        </div>
    {% endif %}

    {% if importReport is not defined %}
        <form class="form-inline" action="/ads/import-one" method="post">
            <div class="form-group">
                <label for="source_url">Url de l'annonce</label>
                <input type="text" class="form-control" id="source_url" name="source_url">
            </div>
            <div class="form-group">
                <label for="source_name">Nom de la source</label>
                <select class="form-control" id="source_name" name="source_name">
                    {% for sourceName in sources %}
                        <option value="{{ sourceName }}">{{ sourceName }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-default">Ajouter l'annonce</button>
        </form>
        <hr>
        <p>
            <a href="/ads/import-auto" class="btn btn-primary" onclick="$('#loadingExplication').collapse('show');">
                En chercher de nouvelles automatiquement…
                <i class="glyphicon glyphicon-play"></i>
            </a>
            <div class="alert alert-info collapse" id="loadingExplication">
                <i class="glyphicon glyphicon-cloud-download"></i>
                Le chargement de nouvelles annonces peut prendre plusieurs minutes, merci de patienter.
            </div>
        </p>
    {% else %}
        {% if importReport.numberOfHousingAdParsed == 0 %}
            <div class="alert alert-danger">
                <strong>Erreur :</strong> aucune annonce n'a pu être trouvé.
            </div>
            <p>
                <a href="/ads/import" class="btn btn-danger" onclick="$('#loadingExplication').collapse('show');">
                    Réessayer
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
                <div class="alert alert-info collapse" id="loadingExplication">
                    <i class="glyphicon glyphicon-cloud-download"></i>
                    Le chargement de nouvelles annonces peut prendre plusieurs minutes, merce de patienter.
                </div>
            </p>
        {% else %}
            <div class="alert{% if importReport.numberOfHousingAdAdded %} alert-success{% else %} alert-warning{% endif %}">
                {{ importReport.numberOfHousingAdParsed }} annonces analysées parmis {{ importReport.numberOfHousingAdSourceConsulted }} sources consultées.
                <br>
                {% if importReport.numberOfHousingAdAdded %}
                    <strong>{{ importReport.numberOfHousingAdAdded }} nouvelles annonces !</strong>
                {% else %}
                    <strong>Mais aucune nouvelle annonce n' a pu être trouvé…</strong>
                {% endif %}
            </div>
            <a href="/ads/browse" class="btn btn-primary">
                Voir les annonces
                <i class="glyphicon glyphicon-play"></i>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}