{% extends "layout.html.twig" %}

{% block container_content %}
    {% if housingAds|length %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Nom
                    </th>
                    <th>
                        Prix
                    </th>
                    <th>
                        Surface
                    </th>
                    <th>
                        €/m²
                    </th>
                    <th>
                        Bonus
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Visité
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for housingAd in housingAds %}
                    <tr{% if housingAd.status == 'kept' %} class="success"{% endif %}{% if housingAd.status == 'waiting' %} class="warning"{% endif %}{% if housingAd.status == 'responded' %} class="danger"{% endif %}{% if housingAd.status == 'contacted' %} class="info"{% endif %}>
                        <td>
                            <a href="/ads/{{ housingAd.identifier }}/show">
                                {% if housingAd.title %}
                                    {{ housingAd.title|length > 50 ? housingAd.title|slice(0, 50) ~ '…' : housingAd.title }}
                                {% else %}
                                    Appartement {{ housingAd.numberOfRooms }} pièces, {{ housingAd.surface|number_format(0, ',', ' ') }}m², {{ housingAd.price|number_format(0, ',', ' ') }}€
                                {% endif %}
                            </a>
                        </td>
                        <td class="text-info">
                            {{ housingAd.price|number_format(0, ',', ' ') }}€
                        </td>
                        <td class="text-primary">
                            {{ housingAd.surface|number_format(0, ',', ' ') }}m²
                        </td>
                        <td class="text-info">
                            {{ housingAd.pricePerSurface|number_format(2, ',', ' ') }} €/m²
                        </td>
                        <td>
                            {% for match in housingAd.matches if match.score %}
                                <span class="label{% if match.score > 1 %} label-success{% else %} label-info{% endif %}">
                                    {{ match.pattern.name }}
                                </span><br/>
                            {% endfor %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% include "templates/housing_ad.status.html.twig" with {'givenStatus': housingAd.status} %}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    {% for nextStatus in housingAd.nextStatus %}
                                        <li>
                                            <a href="/ads/{{ housingAd.identifier }}/status/{{ nextStatus }}/to/list">
                                                {% include "templates/housing_ad.status.html.twig" with {'givenStatus': nextStatus} %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                        <td{% if housingAd.isVisitDone %} class="text-success"{% endif %}>
                            {% if housingAd.isVisitDone %}
                                <i class="glyphicon glyphicon-ok"></i> 
                                Visité le {{ housingAd.visitDate|date("m/d/Y à h\\hi", "Europe/Paris") }}
                            {% elseif housingAd.isVisitScheduled %}
                                <i class="glyphicon glyphicon-flag"></i> 
                                Visite le {{ housingAd.visitDate|date("m/d/Y à h\\hi", "Europe/Paris") }}
                            {% else %}
                                <form class="form-inline" action="/ads/{{ housingAd.identifier }}/visit/to/list">
                                    <div class="input-group">
                                        <input type="datetime-local" name="to-visit" class="form-control">
                                        <span class="input-group-btn">
                                            <button type="submit" class="btn btn-default" title="Sauvegarder">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Aucune annonce n'a été retenue…
        </div>
        <p>
            <a href="/ads/browse" class="btn btn-primary">
                Commencer à les parcourir…
                <i class="glyphicon glyphicon-play"></i>
            </a>
        </p>
    {% endif %}
{% endblock %}