{% extends "layout.html.twig" %}

{% block container_content %}
    <div class="row well well-sm">
        <div class="col-md-4">
            <a href="{{ housingAd.identifier.linkToSource }}" class="btn">
                Trouvé sur {{ housingAd.identifier.sourceName }}
                <i class="glyphicon glyphicon-share-alt"></i>
            </a>
        </div>
        <div class="col-md-5 text-center">
            <form class="form-inline" action="/ads/{{ housingAd.identifier }}/visit/to/show">
                <div class="input-group">
                    <span class="input-group-addon">
                        {% if housingAd.isVisitDone %}
                            <i class="glyphicon glyphicon-ok"></i> 
                            Visité le
                        {% elseif housingAd.isVisitScheduled %}
                            <i class="glyphicon glyphicon-flag"></i> 
                            Visite le
                        {% else %}
                            <i class="glyphicon glyphicon-calendar"></i> 
                            Définir une visite le
                        {% endif %}
                    </span>
                    <input type="datetime-local" name="to-visit" class="form-control"{% if housingAd.isVisitScheduled %} value="{{ housingAd.visitDate|date('Y-m-d\\TH:i:s', 'Europe/Paris') }}"{% endif %}>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            Sauvegarder
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-3 text-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Modifier le status <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for nextStatus in housingAd.nextStatus %}
                        <li>
                            <a href="/ads/{{ housingAd.identifier }}/status/{{ nextStatus }}/to/show">
                                {% include "templates/housing_ad.status.html.twig" with {'givenStatus': nextStatus} %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {%  if housingAd.duplicates|length > 0 %}
        <div class="list-group">
            {% for duplicateHousingAd in housingAd.duplicates %}
                <div class="row list-group-item">
                    <div class="col-md-4">
                        <a href="{{ duplicateHousingAd.identifier.linkToSource }}">
                            Trouvé sur {{ duplicateHousingAd.identifier.sourceName }}
                            <i class="glyphicon glyphicon-share-alt"></i>
                        </a>
                    </div>
                    <div class="col-md-6 text-center">
                        {{ duplicateHousingAd.title }}
                    </div>
                    <div class="col-md-1 text-center">
                        {{ duplicateHousingAd.price|number_format(0, ',', ' ') }}€
                    </div>
                    <div class="col-md-1 text-center">
                        {{ duplicateHousingAd.surface|number_format(0, ',', ' ') }}m²
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% include "templates/housing_ad.html.twig" %}

    {% if housingAd.duplicates|length > 0 %}
        <hr>
        <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#duplicates" aria-expanded="false" aria-controls="duplicates">
            Voir les doublons
        </button>
        <div id="duplicates" class="collapse">
            {% for duplicateHousingAd in housingAd.duplicates %}
                {% include "templates/housing_ad.html.twig" with {'housingAd': duplicateHousingAd, 'level': 2} %}
            {% endfor %}
        </div>
    {% endif %}

    <hr>
{% endblock %}