{% if givenStatus == 'new' %}
    Nouvelle
{% endif %}
{% if givenStatus == 'accepted' %}
    À étudier
{% endif %}
{% if givenStatus == 'contacted' %}
    En attente de réponse
{% endif %}
{% if givenStatus == 'responded' %}
    À traiter
{% endif %}
{% if givenStatus == 'waiting' %}
    A décider
{% endif %}
{% if givenStatus == 'kept' %}
    En comparaison
{% endif %}
{% if givenStatus == 'rejected' %}
    Rejetée
{% endif %}
{% if givenStatus == 'deprecated' %}
    Dépréciée
{% endif %}
