<div class="page-header">
    <h{% if level is defined %}{{ level }}{% else %}1{% endif %}>
        {% if housingAd.title %}
            {{ housingAd.title }}
        {% else %}
            Appartement {{ housingAd.numberOfRooms }} pièces, {{ housingAd.surface|number_format(0, ',', ' ') }}m², {{ housingAd.price|number_format(0, ',', ' ') }}€
        {% endif %}
        <small>
            {{ housingAd.zipCode }}
            <span class="label label-primary">
                {% include "templates/housing_ad.status.html.twig" with {'givenStatus': housingAd.status} %}
            </span>
        </small>
    </h{% if level is defined %}{{ level }}{% else %}1{% endif %}>
</div>

<blockquote>
    <table class="table">
        <thead>
        <tr>
            <th class="text-info">{{ housingAd.price|number_format(0, ',', ' ') }}€</th>
            <th class="text-primary">{{ housingAd.surface|number_format(0, ',', ' ') }}m²</th>
            <th class="text-info">{{ housingAd.pricePerSurface|number_format(2, ',', ' ') }} €/m²</td>
            <th>{{ housingAd.numberOfRooms }} pièces</th>
            <th class="text-warning">{{ housingAd.ges }} (ges)</th>
            <th class="text-warning">{{ housingAd.energyClass }} (energie)</th>
        </tr>
        </thead>
    </table>
    <p>
        {{ housingAd.description }}
    </p>
    <footer>
        {% for match in housingAd.matches if match.score %}
            <span class="label{% if match.score > 1 %} label-success{% else %} label-info{% endif %}">
                {{ match.pattern.name }}
            </span> 
        {% endfor %}
    </footer>
</blockquote>

<div class="images">
    {% if housingAd.images|length > 1 %}
        <div id="carousel-housing-ad-images_{{ housingAd.identifier }}" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for image in housingAd.images %}
                    <li data-target="#carousel-housing-ad-images" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}></li>
                {% endfor %}
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for image in housingAd.images %}
                    <div class="item{% if loop.first %} active{% endif %}">
                        <img src="{{ image.relativeSource }}" alt="{{ image.description }}" class="center-block">
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-housing-ad-images_{{ housingAd.identifier }}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-housing-ad-images_{{ housingAd.identifier }}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    {% elseif housingAd.images|length > 0 %}
        <img src="{{ housingAd.images[0].source }}" class="center-block">
    {% else %}
        <p class="alert alert-warning">
            Aucune image à afficher.
        </p>
    {% endif %}
</div>
